.container {
  max-width: 1440px;

  @media (max-width: 1440px) {
    max-width: 100%;
    padding: 1rem 2rem 0 2rem;
  }

  @media (max-width: 420px) {
    padding: 2rem 1rem 0 1rem;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1440px) {
    display: block;
  }
}
